---
import yaml from 'js-yaml';
import { readFileSync } from 'fs';

const siteData = yaml.load(readFileSync('src/data/site.yaml', 'utf8')) as {
  about: string;
};
---

<section class="py-16 md:py-20 bg-white">
  <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-lg text-gray-600 leading-relaxed text-center">
      {siteData.about}
    </p>
  </div>
</section>
